body {
  background-color: white;
  color: white;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, .3);
  margin: 0px;
  border: 0px;
}

div.screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 480px;
  height: 320px;
  cursor: none;
  background-color: #2567C8;
  overflow: hidden;
  /*background-color: #000E3E;*/
  /*background: radial-gradient(at top, #91D4F1, #2567C8);*/
  /*background: radial-gradient(at top, #012F68, #000E3E);*/
}

#weeklyscreen {
  display: none;
  background-color: rgba(27, 103, 200, .7);
}

div.time {
  /*margin-top: 5%;*/
  font-size: 140px;
  font-weight: bold;
  text-align: center;
}

div.conditions {
  float: left;
  font-size: 100px;
  width: 1em;
  text-align: center;
}

div.temperature {
  float: left;
}

div.highlow {
  float: right;
}

div.summary {
  clear: both;
  text-align: center;
  font-size: 18px;
}

div.summary#dailysummary {
  padding-top: 1em;
}

div.reloadbutton {
  position: absolute;
  height: 120px;
  width: 120px;
  bottom: 0px;
  right: 0px;
}

span.reloadbutton {
  font-size: 40px;
  position: absolute;
  bottom: 0px;
  right: 5px;
}

div.settingsbutton {
  position: absolute;
  height: 120px;
  width: 120px;
  bottom: 0px;
  left: 0px;
}

span.settingsbutton {
  font-size: 40px;
  position: absolute;
  bottom: 0px;
  left: 5px;
}

span.highlow {
  font-size: 50px;
}

span.temperature {
  font-size: 50px;
}

span.dayname {
  font-size: 40px;
  font-weight: bold;
}

span.dailyhighlow {
  font-size: 22px;
}

div.dayforecast {
  width: 160px;
  float: left;
  text-align: center;
  font-size: 150px;
}

span.dayforecast {
  font-size: 150px;
}
