body {
  background-color: white;
  color: white;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  text-shadow: 0vw .4vw 0vw rgba(0, 0, 0, .3);
  margin: 0vw;
  border: 0vw;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

div.screen {
  position: absolute;
  top: 0vw;
  left: 0vw;
  width: 100%;
  height: 100%;
  cursor: none;
  background-color: #2567C8;
  overflow: hidden;
  /*background-color: #000E3E;*/
  /*background: radial-gradient(at top, #91D4F1, #2567C8);*/
  /*background: radial-gradient(at top, #012F68, #000E3E);*/
}

#weeklyscreen {
  display: none;
  background-color: rgba(27, 103, 200, 1.0);
}

#settingsscreen {
  display: none;
  background-color: rgba(27, 103, 200, 1.0);
}

#alertdescriptionscreen {
  display: none;
  background-color: rgba(27, 103, 200, 1.0);
}

div.alertbar {
  position: absolute;
  top: 0vw;
  left: 0vw;
  width: 100%;
  background-color: #FF0000;
  font-size: 3.75vw;
  text-align: center;
  text-shadow: none;
}

div.time {
  /*margin-top: 5%;*/
  font-size: 29vw;
  font-weight: bold;
  text-align: center;
}

div.conditions {
  float: left;
  font-size: 21vw;
  width: 1em;
  text-align: center;
}

div.temperature {
  float: left;
}

div.highlow {
  float: right;
}

div.summary {
  clear: both;
  text-align: center;
  font-size: 3.75vw;
}

div.summary#dailysummary {
  padding-top: 1em;
}

div.reloadbutton {
  position: absolute;
  height: 25vw;
  width: 25vw;
  bottom: 0vw;
  right: 0vw;
}

span.tempdelta {
  font-size: 3.75vw;
}

span.reloadbutton {
  font-size: 8.3vw;
  position: absolute;
  bottom: 0vw;
  right: 1vw;
}

div.settingsbutton {
  position: absolute;
  height: 25vw;
  width: 25vw;
  bottom: 0vw;
  left: 0vw;
}

span.settingsbutton {
  font-size: 8.3vw;
  position: absolute;
  bottom: 0vw;
  left: 1vw;
}

span.highlow {
  font-size: 10.4vw;
}

span.temperature {
  font-size: 10.4vw;
}

span.dayname {
  font-size: 8.3vw;
  font-weight: bold;
}

span.dailyhighlow {
  font-size: 4.6vw;
}

div.dayforecast {
  width: 33.3vw;
  float: left;
  text-align: center;
  font-size: 31.25vw;
}

span.dayforecast {
  font-size: 31.25vw;
}

div.settingsmenu {
  text-align: center;
  font-size: 8.3vw;
}

div.closebutton {
  float: right;
}
