body {
  background-color: white;
  color: white;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  text-shadow: 0vh .625vh 0vh rgba(0, 0, 0, .3);
  margin: 0vh;
  border: 0vh;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

/* FIXME: this file should be broken up amongst the cards */
/* FIXME: this should become "card" instead of "screen" */
div.screen {
  display: none;
  position: absolute;
  top: 0vh;
  left: 0vh;
  width: 100%;
  height: 100%;
  //cursor: none;
  background-color: #2567C8;
  overflow: hidden;
  /*background-color: #000E3E;*/
  /*background: radial-gradient(at top, #91D4F1, #2567C8);*/
  /*background: radial-gradient(at top, #012F68, #000E3E);*/
}


#WeeklyCard\.card {
  display: none;
  background-color: rgba(27, 103, 200, 1.0);
}

#SettingsCard\.card {
  display: none;
  background-color: rgba(27, 103, 200, 1.0);
}

#AlertCard\.card {
  display: none;
  font-size: 5.625vh;
  text-align: justify;
  background-color: rgba(27, 103, 200, 1.0);
}

div.alertdescriptionbar {
  background-color: #FF0000;
  font-size: 5.625vh;
  text-align: center;
  text-shadow: none;
}

div.alertbar {
  position: absolute;
  top: 0vh;
  left: 0vh;
  width: 100%;
  background-color: #FF0000;
  font-size: 5.625vh;
  text-align: center;
  text-shadow: none;
}

div.time {
  /*margin-top: 5%;*/
  font-size: 43.75vh;
  font-weight: bold;
  text-align: center;
}

div.conditions {
  float: left;
  font-size: 31.25vh;
  width: 1em;
  text-align: center;
}

div.temperature {
  float: left;
}

div.highlow {
  float: right;
}

div.summary {
  clear: both;
  text-align: center;
  font-size: 5.625vh;
}

div.summary#dailysummary {
  padding-top: 1em;
}

div.reloadbutton {
  position: absolute;
  height: 37.5vh;
  width: 37.5vh;
  bottom: 0vh;
  right: 0vh;
}

span.tempdelta {
  font-size: 5.625vh;
}

span.reloadbutton {
  font-size: 12.5vh;
  position: absolute;
  bottom: 0vh;
  right: 1.56vh;
}

div.settingsbutton {
  position: absolute;
  height: 37.5vh;
  width: 37.5vh;
  bottom: 0vh;
  left: 0vh;
}

span.settingsbutton {
  font-size: 12.5vh;
  position: absolute;
  bottom: 0vh;
  left: 1.56vh;
}

span.highlow {
  font-size: 15.625vh;
}

span.temperature {
  font-size: 15.625vh;
}

span.dayname {
  font-size: 12.5vh;
  font-weight: bold;
}

span.dailyhighlow {
  font-size: 6.875vh;
}

div.threedayforecast {
  margin: auto;
  width: 150vh;
}

div.dayforecast {
  width: 50vh;
  float: left;
  text-align: center;
  font-size: 46.875vh;
}

span.dayforecast {
  font-size: 46.875vh;
}

div.settingsmenu {
  text-align: center;
  font-size: 12.5vh;
}

div.closebutton {
  float: right;
}
